@import "tailwindcss";

/* import google font : Mulish */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@theme {
  /* custom color variabel */
  --color-blue-primary: #1d4ed8;
  --color-secondary: #a0a3bd;
  --color-importan: #d00707;
  --color-active: #00ba88;
  --color-title-info: #4e4b66;
  --color-title-info_2: #aaaaaa;
  --color-background: #f5f6f8;
  --color-label: #6e7191;
  --color-label-genre: #a0a3bd33;
  --color-label-input: #eff0f6;
  --color-bg-grid-item: #d6d8e7;
  --color-bg-grid-pink: #f589d7;

  /* custom size */
  --width-custom-max-main: 1440px;
}

/* Universal CSS */
* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  font-family: "Mulish", sans-serif;
  transition: all 250ms linear;
}

div.bgLoginRegister {
  background: linear-gradient(rgb(0, 0, 0, 0.6)), url(/bg-avenger.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

/* hr style */
hr.hr_style {
  overflow: visible;
  border: 0;
  padding: 0;
  height: 0.5px;
  background: var(--title_info_2);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
  /* border-top: medium double #333; */
  text-align: center;
  margin: 20px 0 20px 0;
}
hr.hr_style::after {
  content: "Or";
  display: inline-block;
  position: relative;
  top: -11px;
  left: -12px;
  font-size: 12px;
  /* padding: 0 0.25em; */
  color: var(--title_info_2);
  background-color: var(--background);
}
