@import "tailwindcss";

/* import google font : Mulish */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

@theme {
  /* custom color variabel */
  --color-blue-primary: #1d4ed8;
  --color-secondary: #a0a3bd;
  --color-importan: #d00707;
  --color-active: #00ba88;
  --color-title-info: #4e4b66;
  --color-title-info_2: #aaaaaa;
  --color-background: #f5f6f8;
  --color-label: #6e7191;
  --color-label-genre: #ecedf2;
  --color-label-input: #eff0f6;
  --color-bg-grid-item: #d6d8e7;
  --color-bg-grid-pink: #f589d7;

  /* custom size */
  --width-custom-max-main: 1440px;
}

/* Universal CSS */
* {
  box-sizing: border-box;
  /* padding: 0;
  margin: 0; */
  font-family: "Mulish", sans-serif;
  transition: all 250ms linear;
}
